/* .background {
  background: linear-gradient(to right, #4f4e4e, #535e5c, #eeb3b3), url("./florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-blend-mode: overlay;
  filter: grayscale(30%);
  position: fixed;
  z-index: -1;
} */
