.finalize {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
  color: white;
}

.finalize__options {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.finalize__options input {
  width: 100%;
  font: inherit;
  font-size: var(--table-font);
}

.finalize__options input[type="checkbox"] {
    width: auto;
    margin: auto;
  }

.finalize__options input:focus {
  outline: none;
}

.finalize__options .btn-download {
  font-size: var(--table-font);
  padding: 0.3rem;
  font-family: inherit;
  color: white;
  background-color: rgb(18, 129, 209);
  border: 1px solid rgb(18, 129, 209);
  border-radius: var(--border-radius);
}

.btn-download:hover,
.btn-download:active {
  cursor: pointer;
  box-shadow: 1px 1px 7px 2px white;
}
