.data__collected {
  width: 49%;
  min-width: var(--min-width);
  background-color: var(--light-black);
  margin-top: var(--margin-top);
  height: auto;
  padding: 1.5rem;
  border-radius: var(--border-radius);
}

.data__collected h3 {
  margin-top: 0;
  color: white;
  text-align: center;
}

.data__collected table {
  font: inherit;
  border-collapse: collapse;
  border: 1px solid white;
  width: 100%;
  color: white;
  font-size: var(--table-font);
}

.fullz {
  margin-top: 1rem;
  width: 100%;
}

@media only screen and (max-width: 42rem) {
  .data__collected {
    width: 100%;
  }
}
